
.ingredient-card {
  border: 1px solid var(--secondary-neon);
  border-radius: 14px;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 10px;
}
.ingredient-image {

  background: var(--primary-light);
  background: radial-gradient(circle, var(--primary-light) , var(--primary-dark));
  border-radius: 100%;

  height: 80px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}