.dish-div{
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.dish-image:hover {
  background-color: var(--primary-neon);
  box-shadow: 0 0 32px 1px var(--primary-neon);
  border-radius: 100%;
}
.dish-image {
  width: 80%;
}

@media (max-width: 768px) {
  .dish-div{
    width: 100%;
  }
  .dish-image {
    width: 50%;
  }
}