.dish-div{
  width: 25%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish-image:hover {
  background-color: rgb(250, 248, 108);
  box-shadow: 0 8px 32px 0 rgba(248, 245, 75, 0.37);
  border-radius: 100%;
}
.dish-image {
  width: 80%;
}

@media (max-width: 768px) {
  .dish-div{
    width: 100%;
  }
  .dish-image {
    width: 50%;
  }
}