* {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  line-height: 1;
}
body {
  display: block;
  background: linear-gradient(rgb(6,	49,	65), rgb(31,	117,	114));
  background-attachment: fixed;
}
.div-app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-main  {
  display: flex;
  flex-direction: row;

  width: 50vw;
  height: 600px;
  
  background: linear-gradient(rgba(6,	49,	65, 0.1), rgba(31,	117,	114, 0.1));
  box-shadow: 0 8px 32px 0 rgba(250, 248, 108, 0.7);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 2px solid rgba(250, 248, 108, 0.7 );
}
.app-left, .app-right {
  height: calc(100% - 20px);
  margin: 10px;
  width: 50%;
}
.app-right {
  background-color: rgba(16,59,72,255);
  border-radius: 10px;
}
.app-content {
  display: flex;
  flex-direction: row;
}
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(253, 251, 143);
}
.app-header h1{
  font-size: 3.2em;
  font-weight: 400;
  text-shadow: 1px 1px 10px rgb(20, 20, 20);
}

@media (max-width: 768px) {
  .div-app {
    align-items: flex-start;
    position: relative;
  }
  .app-main  {
    width: 100vw;
    display: flex;
    flex-direction: column;

    background: linear-gradient(rgba(6,	49,	65, 0.1), rgba(31,	117,	114, 0.1));
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
  }
  .app-left, .app-right {
    height: auto;
    width: 100%;
    margin: 0;
  }
  .app-header h1{
    font-size: 5em;
  }
  .app-content {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) and ( max-width: 1280px) {
  .app-main  {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgba(6,	49,	65, 0.1), rgba(31,	117,	114, 0.1));
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
  }
}