* {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  line-height: 1;
}
.div-app {
  min-height: 100vh;
  background: linear-gradient(rgb(6,	49,	65), rgb(31,	117,	114));
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-main  {

  display: flex;
  flex-direction: row;

  width: 800px;
  height: 600px;
  
  background: linear-gradient(rgba(6,	49,	65, 0.1), rgba(31,	117,	114, 0.1));
  box-shadow: 0 8px 32px 0 rgba(250, 248, 108, 0.7);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 2px solid rgba(250, 248, 108, 0.7 );
}
.app-left, .app-right {
  height: calc(100% - 20px);
  width: 50%;
}
.app-right {
  background-color: rgba(16,59,72,255);
  margin: 10px;
  border-radius: 10px;
}
.app-content {
  display: flex;
  flex-direction: row;
}
.app-header {
  margin: 10px 0px 0px 30px;
  color: rgb(253, 251, 143);
}
.app-header h1{
  font-size: 44px;
  font-weight: 400;
  text-shadow: 1px 1px 10px rgb(20, 20, 20);
}
.app-description {
  margin: 0px 20px;
}