@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl md:text-4xl;
  }

  h2 {
    @apply text-xl md:text-[28px];
  }
  h1, h2, h3 {
    @apply font-medium font-[family-name:var(--font-title)]
  }

  body{
    @apply text-base md:text-xl font-normal text-[var(--primary-text)]
  }

}

* {
  margin: 0;
  line-height: 1.15;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;             
  height: 8px;            
}

::-webkit-scrollbar-track {
  background: transparent;    
}
::-webkit-scrollbar-track:hover {
  background: #1e1e1e;;    
}

::-webkit-scrollbar-thumb {
  background-color: #8097a3;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

:root {
  --primary-bg: #05334b;
  --primary-bg-glass: rgba( 255, 255, 255, 0.05);
  --secondary-bg: #3885a0;
  --secondary-bg-glass: rgba(31, 117, 114, 0.30);

  --primary-neon: #fef8a7;
  --primary-neon-glass: rgba(250, 248, 108, 0.30);
  --primary-neon-shadow: #e19e48;
  --secondary-neon: #DADADA;

  --fade: #00000041;

  --primary-text: #fef8a7;
  --secondary-text: #ddd7b5;
  --highlight-text: #e2a430;

  --font-title: 'Lora';
  --font-default: 'Nunito';

}