@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  line-height: 1.15;
}

:root {
  --primary-bg: #05334b;
  --primary-bg-glass: rgba( 255, 255, 255, 0.05);
  --secondary-bg: #3885a0;
  --secondary-bg-glass: rgba(31, 117, 114, 0.30);

  --primary-neon: #fef8a7;
  --primary-neon-glass: rgba(250, 248, 108, 0.30);
  --primary-neon-shadow: #e19e48;
  --secondary-neon: #DADADA;


  --primary-text: #fef8a7;
  --secondary-text: #ddd7b5;
  --highlight-text: #e2a430;

  --font-title: 'Nunito';
  --font-default: 'Lora';
}

body {
  background: #333;
  background-attachment: fixed;

  height: 100vh;

  font-size: 20px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-text);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 500;
}
