* {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  line-height: 1;
}
body {
  background: linear-gradient(var(--primary-dark), var(--primary-light));
  background-attachment: fixed;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}